{% extends 'layout/basic.html' %}

{% block title %}Остатки{% endblock %}

{% block content %}
    <h2> Остатки на складе </h2>
    <h2> Выбранный склад: {{ current_storage.storage_name }}</h2>
    <h2> Номер склада: {{ current_storage.pk }}</h2>
    <table border="2">
        <th>Арт.</th>
        <th>Наименование</th>
        <th>Кол-во</th>
        {% for wh in warehouses %}

            <tr>
                <td align="center"> {{ wh.pk }}</td>
                <td align="center"> {{ wh.good }}</td>
                <td align="center"> {{ wh.remains }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}